#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEBUG=""

%:
	dh $@  --with autotools-dev

override_dh_auto_clean:
	dh_auto_clean
	rm -f Makefile bin/bin2c bin/fnt2c bin/lfbinfo bin/modetest \
		lib/unix/libgrx20.* src/gformats/*.o src/gformats/*.lo \
		src/mouse/lnxinpu2.*o
	if [ -f makedefs.grx.orig ]; then \
		mv -f makedefs.grx.orig makedefs.grx; \
	fi

override_dh_auto_configure:
	cp makedefs.grx makedefs.grx.orig
	./configure --prefix=/usr --target=console \
		--enable-jpeg --enable-png --enable-zlib \
		--with-fontpath=/usr/share/grx/fonts \
		--enable-direct-mouse

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/pkgconfig
	cp $(CURDIR)/debian/grx20.pc $(CURDIR)/debian/tmp/usr/lib/pkgconfig

override_dh_strip:
	dh_strip --keep-debug